@charset "Shift_JIS";

/*---------------------------------------/
/goods_detail
/---------------------------------------*/
.goods_detail .border_list_area {
  padding: 20px 0 0;
  margin: 20px 0;
}
.goods_detail .border_list_area .cont_main_title {
  font-size: 26px;
}
.goods_detail .cart_area .orderunit {
  margin: 0 0 6px;
}
.detail_top_wrap {
  display: flex;
  width: 100%;
  margin: 30px 0 20px;
}
.detail_top_wrap .product_img_area {
  width: 300px;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .product_img_area .image_area {
  position: relative;
}
.detail_top_wrap .product_img_area .zoom {
  display: none;
  position: absolute;
  top: 0;
  left: 369px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border: 1px solid;
  z-index: 1;
}
.detail_top_wrap .product_img_area .zoom.active {
  display: block;
}
.detail_top_wrap .product_img_area .zoom img {
  margin-top: -30px;
  margin-left: -60px;
}
.detail_top_wrap .product_img_area .main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 0 0 15px;
  text-align: center;
}
.detail_top_wrap .product_img_area .lens_wrap {
  display: inline-block;
  position: relative;
}
.detail_top_wrap .product_img_area .lens {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 100px;
  height: 100px;
  opacity: 0.3;
  z-index: 2;
}
.detail_top_wrap .product_img_area .lens {
  display: none;
}
.detail_top_wrap .product_img_area .lens_wrap:hover .lens {
  display: block;
}
.detail_top_wrap .product_img_area .lens_wrap img {
  max-width: 300px;
  max-height: 300px;
}
.detail_top_wrap .product_img_area .img_list {
  margin: 0 0 5px;
}
.detail_top_wrap .product_img_area .img_list ul.sp_slider {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.detail_top_wrap .product_img_area .img_list .inflame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: calc(20% - 10px);
  height: 52px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  box-sizing: border-box;
}
.detail_top_wrap .product_img_area .img_list .inflame:nth-child(5n) {
  margin-right: 0;
}
.detail_top_wrap .product_img_area .img_list .inflame img {
  width: 100%;
  height: 52px;
}
.detail_top_wrap .product_img_area .img_sub_text {
  margin: 0 0 10px;
  text-align: center;
}
.detail_top_wrap .product_img_area .img_sub_text span {
  display: inline-block;
  font-size: 14px;
}
.detail_top_wrap .product_img_area .under_img_area {
  text-align: center;
}
.detail_top_wrap .product_img_area .under_img_area .all_view_btn {
  display: inline-block;
  position: relative;
  width: 80%;
  padding: 8px 32px 8px 54px;
  text-align: center;
  box-sizing: border-box;
}
.detail_top_wrap .product_img_area .under_img_area .all_view_btn i {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  width: 32px;
  height: 30px;
  margin-top: -15px;
  font-size: 32px;
}
.detail_top_wrap .product_info_area {
  width: calc(100% - 300px);
  padding: 0 60px;
 -webkit-box-sizing:border-box; 
  box-sizing: border-box; 
}
.detail_top_wrap .product_info_area .goods_name_area {
  margin: 0 0 15px;
}
.detail_top_wrap .goods_name_area .company_name {
  margin: 0 0 2px;
}
.detail_top_wrap .goods_name_area .goods_link_area a {
  font-size: 14px;
}
.detail_top_wrap .goods_name_area .goods_link_area i {
  font-size: 11px;
}
.detail_top_wrap .goods_name_area .goods_title {
  font-size: 24px;
  font-weight: bold;
}
.detail_top_wrap .goods_name_area  .goods_link_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.detail_top_wrap .product_info_area .goods_info_area {
  padding: 15px 0 0;
  border-top: 1px solid;
}
.detail_top_wrap .goods_info_area .basic_label {
  margin: 0 0 10px;
  font-size: 16px;
}
.detail_top_wrap .product_info .reference_price {
  font-size: 16px;
}
.detail_top_wrap .product_info .reference_price small {
  font-size: 12px;
}
.detail_top_wrap .product_info .flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.detail_top_wrap .product_info .selling_price {
  margin: 0 0 15px;
}
.detail_top_wrap .product_info .selling_price .title {
  display: inline-block;
  font-size: 18px;
}
.detail_top_wrap .product_info .selling_price .number {
  padding: 0 10px 0 0;
  font-size: 26px;
}
.detail_top_wrap .product_info .selling_price .sell_label {
  padding: 2px 6px;
  font-size: 16px;
}
.goods_name_area .goods_link_area .btn_label,
.detail_top_wrap .product_info .btn_label {
  padding: 2px 8px;
  cursor: pointer;
}
.goods_name_area .goods_link_area .btn_label,
.detail_top_wrap .product_info .btn_label {
  margin: 5px 4px 5px 4px;
  padding: 1px 8px;
}
.size_detail_link .label_link_area .btn_label {
  margin: 0 8px 0 0;
}
.goods_name_area .goods_link_area .btn_label i,
.label_link_area .btn_label i {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.goods_name_area .goods_link_area .btn_label:last-child,
.label_link_area .btn_label:last-child,
.detail_top_wrap .product_info .btn_label:last-child {
  margin: 0;
}
.detail_top_wrap .product_info .alert_text {
  margin: 10px 0 0;
  font-size: 20px;
}
.detail_top_wrap .product_info .sub_alert {
  margin-top: 6px;
  font-size: 18px;
}
.detail_top_wrap .product_info .sub_list li .list_conts {
  width: 80%;
}
.detail_top_wrap .lot_area  {
  margin: 0 0 30px;
}
.detail_top_wrap .lot_area .list_title {
  width: 30%;
}
.detail_top_wrap .lot_area .list_conts {
  width: 70%;
}
.item_list li {
  padding: 12px 14px;
  border: 1px solid;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item_list li:hover {
  opacity: 0.7;
}
.item_list a:hover {
  text-decoration: none;
}
.item_list li dl {
  display: flex;
  width: 100%;
}
.item_list li dt {
  width: 60px;
  height: 60px;
}
.item_list li dt img {
  width: 100%;
  height: 100%;
}
.item_list li dd {
  width: calc(100% - 60px);
  padding: 0 0 0 14px;
  box-sizing: border-box;
}
.item_list li dd .name {
  margin: 0 0 4px;
}
.item_list li dd .price {
  font-size: 10px;
}
.item_list li dd .bold_text {
  font-size: 18px;
  font-weight: bold;
}
.detail_top_wrap .detail_product_wrap {
  width: calc(100% - 260px);
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .detail_product_area{
  display: flex;
  width: 100%;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .detail_info_area {
  width: 100%;
  padding: 0;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .detail_info_area.under {
  display: none;
}
.detail_top_wrap .product_carts_area {
  width: 260px;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .cart_out_flame {
  width: 100%;
  padding: 16px 20px;
  border: 1px solid;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .cart_out_flame .shipment_conts {
  margin: 4px 0 10px;
}
.detail_top_wrap .cart_out_flame .conversion_btn {
  display: inline-block;
  width: 100%;
  padding: 8px 12px 8px 24px;
  font-size: 16px;
  text-align: center;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .cart_out_flame .conversion_btn:disabled {
  padding: 12px;
}
.detail_top_wrap .cart_out_flame .basic_btn {
  display: inline-block;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  text-align: center;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_top_wrap .cart_out_flame .border_area {
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
}
.variation_title {
  position: relative;
  padding: 8px 28px 8px 14px;
  font-size: 16px;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.variation_title i {
  display: block;
  position: absolute;
  top: 50%;
  right: 14px;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  font-size: 14px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.variation_title.active i {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.variation_title .bold_text {
  font-weight: bold;
}
.variation_title + .item_list_inner {
  display: none;
  margin: 16px 0 0;
}
.detail_top_wrap .pc_variation_area {
  width: 100%;
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid;
  line-height: 1.4;
}
.detail_top_wrap .pc_variation_area.item_list li {
  margin: 0 0 10px;
}
.detail_top_wrap .pc_variation_area.item_list li a {
  text-decoration: none;
}
.detail_info_area .specification_text {
  margin: 0 0 20px;
}
.detail_info_area .specification_img {
  margin: 0 0 15px;
}
.detail_info_area.specification_img .img_inflame {
  max-width: 100%;
}
.detail_info_area .specification_img .img_inflame img {
  display: block;
  max-width: 100%;
}
.detail_info_area .specification_area .download_btn {
  position: relative;
  width: 280px;
  padding: 8px 0;
  font-size: 16px;
  -webkit-box-sizing:border-box; 
  box-sizing: border-box;
}
.detail_info_area .specification_area .download_btn i {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  font-size: 16px;
}
.detail_under_area .detail_input_area {
  margin: 0 0 20px;
}
.detail_under_area .detail_input_area input {
  height: 28px;
  padding: 0 10px;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
.detail_under_area .detail_input_area.cloth_outline input {
  width: 15%;
}
.detail_input_area.cloth_outline .list_title,
.detail_input_area.remarks .list_title {
  width: 14.3%;
  line-height: 1;
}
.detail_input_area.remarks input.number_input {
  text-align: left;
}
.detail_input_area.cloth_detail.top .basic_list li {
  width: 16%;
}
.detail_input_area.cloth_detail.under .basic_list li {
  width: 14.3%;
}
.detail_input_area.cloth_detail .basic_list {
  border: none;
}
.detail_input_area.cloth_detail .basic_list input {
  width: calc(100% - 36px);
}
.detail_input_area.remarks input {
  width: 30%;
}
.detail_input_area.cloth_detail .basic_list .number_input_flame .unit_text {
  width: 26px;
}
.size_detail_area {
  display: inline-block;
  position: relative;
  padding: 0 0 20px;
}
.size_detail_area .attention_title {
  margin: 0;
  cursor: pointer;
}
.size_detail_area .tool_tip {
  left: 0;
  width: 600px;
}
.size_detail_area .tool_tip:after {
  top: -3px;
  left: 40px;
}
.size_detail_area .tool_tip .pc_inflame {
  padding: 20px;
}
.size_detail_area .tool_tip img {
  width: 100%;
}
.size_detail_area .sp_acd {
  display: none;
}

@media screen and (max-width: 1160px) and (min-width: 961px) {
  .detail_top_wrap {
    flex-wrap: wrap;
    margin: 40px 0 30px;
  }
  .detail_top_wrap .detail_product_wrap {
    width: 100%;
    padding: 0;
  }
  .detail_top_wrap .product_img_area .img_list .inflame {
    height: 42px;
  }
  .detail_top_wrap .product_info_area {
    padding: 0 0 0 60px;
  }
  .detail_top_wrap .detail_info_area {
    padding: 0;
  }
  .detail_top_wrap .product_carts_area {
    width: 100%;
  }
  .detail_top_wrap .cart_out_flame .btn_area {
    display: flex;
    width: 100%;
  }
  .detail_top_wrap .cart_out_flame .border_area {
    display: none;
  }
  .detail_top_wrap .cart_out_flame .conversion_btn {
    width: calc(50% - 10px);
    margin-right: 10px;
    padding: 10px 12px;
  }
  .detail_top_wrap .cart_out_flame .basic_btn {
    width: calc(50% - 10px);
    margin-left: 10px;
    padding: 10px 12px;
  }
}

@media screen and (max-width: 960px) {
  .goods_detail .border_list_area {
    margin: 20px 0;
    padding: 20px 0 0;
  }
  .goods_detail .border_list_area .cont_main_title {
    font-size: 18px;
  }
  .detail_top_wrap {
    display: block; 
    margin: 20px 0 0;
  }
  .detail_top_wrap .detail_product_wrap {
    width: 100%;
  }
  .detail_top_wrap .detail_product_area {
    display: block;
  }
  .detail_top_wrap .product_img_area {
    width: 100%;
  }
  .detail_top_wrap .product_img_area .main_image {
    display: none;
  }
  .detail_top_wrap .product_img_area .img_list {
    width: 70%;
    margin: 0 auto 20px;
  }
  .detail_top_wrap .product_img_area .img_list ul.sp_slider {
    justify-content: center;
    flex-wrap: nowrap;
  }
  .detail_top_wrap .product_img_area .img_list .inflame {
    height: 200px;
    margin-right: 0;
    border: none;
  }
  .detail_top_wrap .product_img_area .slide_dots_wrap .slick-dots {
    display: flex !important;
    justify-content: center;
    margin: 0 0 20px;
  }
  .detail_top_wrap .product_img_area .slide_dots_wrap .slick-dots li {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 14px;
    border: 1px solid;
    border-radius: 50%;
  }
  .detail_top_wrap .product_img_area .slide_dots_wrap .slick-dots li:last-child {
    margin-right: 0;
  }
  .detail_top_wrap .product_img_area .slide_dots_wrap button {
    text-indent: -9999px;
    opacity: 0;
  }
  .detail_top_wrap .product_img_area .img_list + .sp_fix_menu_flame .sp_fixed_close_area {
    border-bottom: none;
  }
  .detail_top_wrap .product_img_area .sp_fix_menu_flame .fix_inflame {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .detail_top_wrap .product_img_area .sp_fix_menu_flame .fix_inflame img {
    width: 90%;
    height: 90%;
  }
  .detail_top_wrap .product_img_area .under_img_area {
    text-align: left;
  }
  .detail_top_wrap .product_img_area .under_img_area .all_view_btn {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 0 12px;
    padding: 0;
    border: none;
    border-radius: 4px;
    background: none;
  }
  .detail_top_wrap .product_img_area .under_img_area .all_view_btn:hover {
    text-decoration: underline;
  }
  .detail_top_wrap .product_img_area .under_img_area .all_view_btn i {
    display: inline-block;
    position: static;
    top: auto;
    left: auto;
    width: 28px;
    height: 22px;
    margin-top: 0;
    padding-right: 12px;
    font-size: 28px;
  }
  .detail_top_wrap .sp_variation_area .variation_btn {
    padding: 9px 0;
    text-align: center;
  }
  .detail_top_wrap .sp_variation_area .variation_btn .bold_text {
    font-weight: bold;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame  ul {
    width: 100%;
    padding: 0 20px 47px;
    box-sizing: border-box;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .variation_link {
    padding: 12px 0;
    border-bottom: 1px solid;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame a:hover {
    text-decoration: none;
    opacity: 0.7;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .variation_info {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .goods_photo {
    width: 60px;
    height: 60px;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .goods_photo img {
    width: 100%;
    height: 100%;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .goods_info {
    width: calc(100% - 60px);
    padding: 0 16px;
    box-sizing: border-box;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .name {
    margin: 0 0 4px;
    font-weight: bold;
  }
  .detail_top_wrap .sp_variation_area .sp_fix_menu_flame .bold_text {
    font-weight: bold;
  }
  .detail_top_wrap .product_info_area {
    width: 100%;
    padding: 0;
  }
  .detail_top_wrap .goods_name_area {
    margin: 0 0 20px;
  }
  .detail_top_wrap .product_info_area .goods_info_area {
    margin: 15px 0;
  }
  .detail_top_wrap .goods_name_area  .goods_link_area {
    display: block;
  }
  .detail_top_wrap .goods_name_area .company_name {
    margin: 0 0 2px;
  }
  .detail_top_wrap .goods_name_area .goods_title {
    margin: 0 0 2px;
    font-size: 20px;
    line-height: 1.4;
  }
  .detail_top_wrap .goods_info_area .basic_label {
    margin: 0 0 6px;
    font-size: 14px;
  }
  .detail_top_wrap .product_info .reference_price {
    margin: 0 0 2px;
    font-size: 16px;
  }
  .detail_top_wrap .product_info .selling_price .title {
    display: block;
    width: 100%;
    margin: 0 0 3px;
    font-size: 18px;
  }
  .detail_top_wrap .product_info .selling_price .title .small {
    font-size: 12px;
  }
  .detail_top_wrap .product_info .selling_price .number {
    margin: 0 0 5px;
    padding: 0 6px 0 0;
    font-size: 26px;
  }
  .detail_top_wrap .product_info .selling_price .sell_label {
    padding: 1px 4px;
  }
  .detail_top_wrap .product_info .sub_alert {
    margin: 4px 0 0;
    font-size: 18px;
  }
  .detail_top_wrap .product_info .alert_text {
    margin: 4px 0 0;
    font-size: 18px;
  }
  .detail_top_wrap .lot_area .list_title {
    width: 100%;
  }
  .detail_top_wrap .lot_area .list_conts {
    width: 100%;
  }
  .detail_top_wrap .product_info .sub_list li .list_title {
    width: 100px;
    margin: 0 10px 0 0;
  }
  .detail_top_wrap .product_info .sub_list li .list_conts {
    width: calc(100% - 110px);
  }
  .item_list li {
    padding: 18px;
  }
  .item_list li dl {
    align-items: center;
  }
  .item_list li dt {
    width: 80px;
    height: 80px;
  }
  .item_list li dd {
    width: calc(100% - 80px);
    padding: 0 0 0 24px;
  }
  .item_list li dd .name {
    margin: 0 0 4px;
  }
  .item_list li dd .bold_text {
    font-size: 16px;
  }
  .detail_top_wrap .product_carts_area {
    width: 100%;
  }
  .detail_top_wrap .cart_area .sp_flex_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .detail_top_wrap .cart_area .number_input_flame {
    margin: 0;
    width: auto;
  }
  .detail_top_wrap .cart_area .orderunit {
    margin: 0 0 0 14px;
    font-size: 14px;
  }
  .detail_top_wrap .cart_area .link_area.shipment {
    margin: 10px 0 0;
  }
  .detail_top_wrap .cart_out_flame .shipment_conts {
    margin: 6px 0 14px;
  }
  .detail_top_wrap .cart_out_flame .conversion_btn {
    padding: 9px 12px 9px 24px;
    font-size: 18px;
  }
  .detail_top_wrap .cart_out_flame .basic_btn {
    padding: 10px 12px;
  }
  .detail_top_wrap .cart_out_flame .border_area {
    margin: 14px 0;
  }
  .detail_info_area .specification_text {
    margin: 0 0 15px;
  }
  .detail_under_area .specification_img .img_inflame {
    margin: 0 0 10px;
    width: 100%;
    max-width: inherit;
  }
  .detail_info_area .specification_img .img_inflame img {
    width: 100%;
    max-width: inherit;
    /* develop edit */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .detail_info_area .specification_area .download_btn {
    width: 100%;
    padding: 10px 0;
  }
  .detail_info_area .specification_area .sp_fix_menu_flame .sp_fixed_close_area {
    border-bottom: none;
  }
  .detail_info_area .specification_area .sp_fix_menu_flame .fix_inflame {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .detail_info_area .specification_area .sp_fix_menu_flame .fix_inflame img {
    width: 90%;
    height: 90%;
  }
  .detail_input_area.cloth_outline .list_title,
  .detail_input_area.remarks .list_title {
    width: 100%;
    line-height: 1.4;
  }
  .detail_under_area .detail_input_area.cloth_outline input {
    width: 50%;
    height: 36px;
  }
  .detail_input_area.cloth_detail .basic_list input {
    width: 50%;
    height: 36px;
  }
  .detail_input_area.remarks input {
    width: 60%;
    height: 36px;
  }
  .detail_input_area.cloth_detail.top .head_table_list.basic_list li:first-child,
  .detail_input_area.cloth_detail.under .head_table_list.basic_list li:first-child {
    display: none;
  }
  .detail_input_area.cloth_detail.top .basic_list li,
  .detail_input_area.cloth_detail.under .basic_list li {
    width: 100%;
  }
  .size_detail_area {
    display: block;
  }
  .size_detail_area .sp_inflame {
    padding: 10px 0 0;
  }
  .size_detail_area .sp_acd img  {
    width: 100%;
  }
  .size_detail_area .attention_title .plus {
    margin-left: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .size_detail_area.active .plus:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .size_detail_link {
    margin: 15px 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .item_list li {
    padding: 14px;
  }
  .detail_top_wrap .sp_variation_area .variation_btn {
    font-size: 13px;
  }
  .detail_top_wrap .product_info .selling_price .number {
    font-size: 26px;
  }
  .detail_top_wrap .product_info .sub_alert {
    font-size: 16px;
  }
  .detail_top_wrap .product_info .selling_price {
    margin: 0 0 20px
  }
  .detail_top_wrap .product_info_area .goods_info_area {
    margin: 20px 0;
  }
  .detail_top_wrap .product_info .sub_list li .list_title {
    width: 80px;
    font-size: 13px;
  }
  .detail_top_wrap .product_info .sub_list li .list_conts {
    width: calc(100% - 90px);
    font-size: 13px;
  }
  .product_info .sub_list .eco_image li img {
    width: 28px;
  }
  .cart_area .number_input_flame input {
    width: 95px;
  }
  .detail_top_wrap .cart_area .orderunit {
    margin: 0 0 0 10px;
    font-size: 13px;
  }
  .detail_top_wrap .product_info .alert_text {
    font-size: 16px;
  }
  .size_detail_link a {
    padding: 16px 20px 16px 0;
    font-size: 13px;
  }
  .size_detail_link a i {
    right: 10px;
  }
}
